*{
	margin:0;
	padding:0;
	list-style-type:none;
}
.before{
	width:100%;
	height:250px;
	
	background:url('photo/jiang.jpg') no-repeat left center;background-color: #74343e;
}
ul.nav{
	width:700px;
}
ul.nav li span{
	width:99px;
	height:30px;
	text-align:center;
	line-height:30px;
	position:relative;
	left:50%;
	float:left;
	cursor:pointer;
	z-index:100;
}
ul.nav li span:hover{
	background-color: #eef;
}
ul.nav li div{
	width:100%;
	height:100px;
	-webkit-transition:all linear 0.2s;
	display:none;
}
ul.nav li:hover div{
	opacity:0;
	position:absolute;
	left:auto;
	display:block;
	background-color: #fc0;
}
ul.nav li:hover div h1{
	position:absolute;
	left:50%;
	top:30px;
	-webkit-transform:translateX(-50%);
	margin-left:20px;
	z-index:1000;
}
