*{
	margin:0;
	padding:0;
}
body{
	background: #eee;
}

/*第一个旋转图形*/
.box{
	position:relative;
	width:100px;
	height:100px;
	border-radius:50%;
	border:6px dotted #ccc;
	display:block;
	animation: a 5s linear infinite;
}
.box:before{
	box-sizing:border-box;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	width:80px;
	height:80px;
	content:' ';
	border-radius: 50%;
    border: 15px solid transparent;
    box-shadow: 0 0 0 10px #666, 0 0 0 10px #666 inset;
}
@keyframes a {
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
/*第二个旋转图形*/
.box1{
	position:relative;
	width:100px;
	height:100px;
	border:6px solid #666; 
	border-radius:50%;
	display:inline-block;
	float:left;
	border-left:6px solid transparent;
	/* -webkit-animation:a 3s linear infinite;  */
	-webkit-animation:a 3s linear infinite;
}
.box1:before{
	width:0;
	height:0;
	line-height:0;
	font-size:0;
	border-width:10px;
	border-style:solid;
	border-color:transparent #666 transparent transparent;
	content:'';
	position:absolute;
	top:71px;
	left:-4px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}
.box2{
	position:absolute;
	top:250px;
	width:0;
	height:0;
	padding:20px 10px;
	box-shadow:inset 15px 0 #666;
	border-width:50px;
	border-color:transparent #666 transparent transparent;
	border-style:solid;
}
.box2:after{
	position:absolute;
	width:140px;
	height:140px;
	top:-67px;
	left:-35px;
	content:' ';
	border-radius:50%;
	border-style:double;
	border-width:20px;
	border-color:transparent #666 transparent transparent;
}
.box2:before{
	position:absolute;
	top:-43px;
	left:-10px;
	width:90px;
	height:90px;
	content:' ';
	border-radius:50%;
	border-style:double;
	border-width:20px;
	border-color:transparent #666 transparent transparent;
}
